In [1]:
## all imports
from IPython.display import HTML
import numpy as np
import urllib # urllib2 -> urllib python3
import bs4 #this is beautiful soup
import time
import operator
import socket
import pickle # cPickle -> pickle python3
import re # regular expressions

from pandas import Series
import pandas as pd
from pandas import DataFrame

import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline

import seaborn as sns
sns.set_context("talk")
sns.set_style("white")

from secret import *

In [1]:
print 'hi'

hi

API registrations
=================

If you would like to run all the examples in this notebook, you need to register for the following APIs:

* Rotten Tomatoes

http://developer.rottentomatoes.com/member/register

* Twitter

https://apps.twitter.com/app/new

* Twitter instructions

https://twittercommunity.com/t/how-to-get-my-api-key/7033

CS109
=====

Verena Kaynig-Fittkau, Joe Blitzstein, Hanspeter Pfister

* vkaynig@seas.harvard.edu
* staff@cs109.org

Announcements
==============

* Over 400 sign ups on github!
* If you are still missing, fill out the survey, time is running out!
* Make sure you are on Piazza!


* More [git help](https://www.youtube.com/channel/UC0-KaiZFXBlGOFN71YsEV8g/videos)


* HW0 is due on Thursday 
* HW1 is coming out on Thursday

Todays lecture:
===============

* introduction to pandas
    - read a table
    - do some plots

* all about data scraping
* ***What is it? ***
* How to do it:
    - from a website
    - with an API

Answer: Data scraping is about obtaining data from webpages. There is low level scraping where you parse the data out of the html code of the webpage. There also is scraping over APIs from websites who try to make your life a bit easier.

IPython Notebooks:
===================

![IPython](images/ipython.png "IPython")

IPython Notebooks:
===================

* These slides are an IPython notebook!
* https://github.com/damianavila/live_reveal

In [2]:
print ("Hello CS109")

print ("I love IPython")

# Ipython notebook have tab completion!
# and inbuild help
  
a = np.zeros(3) # tab for auto-completion of methods.
a

Hello CS109
I love IPython

array([0., 0., 0.])

In [3]:
a.max
# gives docs for this method if you do so.

General advice about programming
==================================

* You will find nearly everything on google
* Try: length of a list in python
* A programmer is someone 
```who can turn stack overflow snippets into running code```
* Use tab completion and 'object.method?' to call for docstring for the method.
* Make your variable names meaningful ( simple and meaningful )

How to load a table
===================

* we use Pandas for this
* Pandas can do a __lot__ more
* more about it later

The MovieLens data
===================

http://grouplens.org/datasets/movielens/

![Grouplens](images/grouplens.jpg "Grouplens")

Example inspired by [Greg Reda](http://www.gregreda.com/2013/10/26/using-pandas-on-the-movielens-dataset/)

Read the user data
==================

In [3]:
# <pandas.read_csv()>
u_cols = ['user_id', 'age', 'sex', 'occupation', 'zip_code']

users = pd.read_csv(
    'http://files.grouplens.org/datasets/movielens/ml-100k/u.user', 
    sep='|', names=u_cols)
# [pd.read_csv() argument variables] 
# pandas.read_csv('url', sep(delimitter)=' / | / \n ', names = [1,2,3,4,5])
# users is pandas datatype =>  dataframe
users.head(3)# the output itself is a dataframe
new_df = users.head(3)


# [ Difference between 'DataFrame', 'Series' ]
type(users.user_id) # 결국 네임즈의 칼럼이름 어레이가 각각 시리즈의 변수명이 된다. 
users.head(3)# the output itself is a dataframe
new_df = users.head(3)


# [ Reference method for 'DataFrame' & 'Series' ]
# series[0] => value at that coordinate
users.user_id[0] # series ~th row => call by [index of row]
# < dataframe > reference for certain row
# Use loc[] to choose rows and columns by label
# Use iloc[] to choose rows and columns by position
users.iloc[2,[2*i for i in range(1,3)]]

sex             M
zip_code    32067
Name: 2, dtype: object

Read the ratings
============

In [4]:
r_cols = ['user_id', 'movie_id', 'rating', 'unix_timestamp']
ratings = pd.read_csv(
    'http://files.grouplens.org/datasets/movielens/ml-100k/u.data', 
    sep='\t', names=r_cols)

ratings.head()

   user_id  movie_id  rating  unix_timestamp
0      196       242       3       881250949
1      186       302       3       891717742
2       22       377       1       878887116
3      244        51       2       880606923
4      166       346       1       886397596

Now data about the movies
=========================

In [5]:
# the movies file contains columns indicating the movie's genres
# let's only load the first five columns of the file with usecols
m_cols = ['movie_id', 'title', 'release_date', 
            'video_release_date', 'imdb_url']

movies = pd.read_csv(
    'http://files.grouplens.org/datasets/movielens/ml-100k/u.item', 
    sep='|', names=m_cols, usecols=range(5), encoding='latin-1') #문자를 비트로 들고 와서 => 테이블에 넣기
# => 원문 -> 인코더 비트로 전환 -> 안됨 -> 인코더 교체 => 
# 원문 => 기계어로 저장 => 원문 테이블
#   인코더           인코더


# https://docs.python.org/3/library/codecs.html#standard-encodings 
# Change the encoding to 'latin-1': for west europe 'uk'
movies

,movie_id,title,release_date,video_release_date,imdb_url
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995)
5,6,Shanghai Triad (Yao a yao yao dao waipo qiao) ...,01-Jan-1995,NaN,http://us.imdb.com/Title?Yao+a+yao+yao+dao+wai...
6,7,Twelve Monkeys (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Twelve%20Monk...
7,8,Babe (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Babe%20(1995)
8,9,Dead Man Walking (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Dead%20Man%20...
9,10,Richard III (1995),22-Jan-1996,NaN,http://us.imdb.com/M/title-exact?Richard%20III...
10,11,Seven (Se7en) (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Se7en%20(1995)
11,12,"Usual Suspects, The (1995)",14-Aug-1995,NaN,http://us.imdb.com/M/title-exact?Usual%20Suspe...
12,13,Mighty Aphrodite (1995),30-Oct-1995,NaN,http://us.imdb.com/M/title-exact?Mighty%20Aphr...
13,14,"Postino, Il (1994)",01-Jan-1994,NaN,"http://us.imdb.com/M/title-exact?Postino,%20Il..."
14,15,Mr. Holland's Opus (1995),29-Jan-1996,NaN,http://us.imdb.com/M/title-exact?Mr.%20Holland...
15,16,French Twist (Gazon maudit) (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Gazon%20maudi...
16,17,From Dusk Till Dawn (1996),05-Feb-1996,NaN,http://us.imdb.com/M/title-exact?From%20Dusk%2...
17,18,"White Balloon, The (1995)",01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Badkonake%20S...
18,19,Antonia's Line (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Antonia%20(1995)
19,20,Angels and Insects (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Angels%20and%...
20,21,Muppet Treasure Island (1996),16-Feb-1996,NaN,http://us.imdb.com/M/title-exact?Muppet%20Trea...
21,22,Braveheart (1995),16-Feb-1996,NaN,http://us.imdb.com/M/title-exact?Braveheart%20...
22,23,Taxi Driver (1976),16-Feb-1996,NaN,http://us.imdb.com/M/title-exact?Taxi%20Driver...
23,24,Rumble in the Bronx (1995),23-Feb-1996,NaN,http://us.imdb.com/M/title-exact?Hong%20Faan%2...
24,25,"Birdcage, The (1996)",08-Mar-1996,NaN,"http://us.imdb.com/M/title-exact?Birdcage,%20T..."
25,26,"Brothers McMullen, The (1995)",01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Brothers%20Mc...
26,27,Bad Boys (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Bad%20Boys%20...
27,28,Apollo 13 (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Apollo%2013%2...
28,29,Batman Forever (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Batman%20Fore...
29,30,Belle de jour (1967),01-Jan-1967,NaN,http://us.imdb.com/M/title-exact?Belle%20de%20...
...,...,...,...,...,...
1652,1653,Entertaining Angels: The Dorothy Day Story (1996),27-Sep-1996,NaN,http://us.imdb.com/M/title-exact?Entertaining%...
1653,1654,Chairman of the Board (1998),01-Jan-1998,NaN,http://us.imdb.com/Title?Chairman+of+the+Board...
1654,1655,"Favor, The (1994)",01-Jan-1994,NaN,"http://us.imdb.com/M/title-exact?Favor,%20The%..."
1655,1656,Little City (1998),20-Feb-1998,NaN,http://us.imdb.com/M/title-exact?Little+City+(...
1656,1657,Target (1995),28-Feb-1996,NaN,http://us.imdb.com/M/title-exact?Target%20(1995)
1657,1658,"Substance of Fire, The (1996)",06-Dec-1996,NaN,http://us.imdb.com/M/title-exact?Substance%20o...
1658,1659,Getting Away With Murder (1996),12-Apr-1996,NaN,http://us.imdb.com/Title?Getting+Away+With+Mur...
1659,1660,Small Faces (1995),09-Aug-1996,NaN,http://us.imdb.com/M/title-exact?Small%20Faces...
1660,1661,"New Age, The (1994)",01-Jan-1994,NaN,"http://us.imdb.com/M/title-exact?New%20Age,%20..."
1661,1662,Rough Magic (1995),30-May-1997,NaN,http://us.imdb.com/M/title-exact?Rough%20Magic...
1662,1663,Nothing Personal (1995),30-Apr-1997,NaN,http://us.imdb.com/M/title-exact?Nothing%20Per...
1663,1664,8 Heads in a Duffel Bag (1997),18-Apr-1997,NaN,http://us.imdb.com/Title?8+Heads+in+a+Duffel+B...
1664,1665,"Brother's Kiss, A (1997)",25-Apr-1997,NaN,http://us.imdb.com/M/title-exact?Brother%27s%2...
1665,1666,Ripe (1996),02-May-1997,NaN,http://us.imdb.com/M/title-exact?Ripe%20%28199...
1666,1667,"Next Step, The (1995)",13-Jun-1997,NaN,http://us.imdb.com/M/title-exact?Next%20Step%2...
1667,1668,Wedding Bell Blues (1996),13-Jun-1997,NaN,http://us.imdb.com/M/title-exact?Wedding%20Bel...
1668,1669,MURDER and murder (1996),20-Jun-1997,NaN,http://us.imdb.com/M/title-exact?MURDER+and+mu...
1669,1670,Tainted (1998),01-Feb-1998,NaN,http://us.imdb.com/M/title-exact?Tainted+(1998)
1670,1671,"Further Gesture, A (1996)",20-Feb-1998,NaN,http://us.imdb.com/M/title-exact?Further+Gestu...
1671,1672,Kika (1993),01-Jan-1993,NaN,http://us.imdb.com/M/title-exact?Kika%20(1993)
1672,1673,Mirage (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Mirage%20(1995)
1673,1674,Mamma Roma (1962),01-Jan-1962,NaN,http://us.imdb.com/M/title-exact?Mamma%20Roma%...
1674,1675,"Sunchaser, The (1996)",25-Oct-1996,NaN,"http://us.imdb.com/M/title-exact?Sunchaser,%20..."
1675,1676,"War at Home, The (1996)",01-Jan-1996,NaN,http://us.imdb.com/M/title-exact?War%20at%20Ho...
1676,1677,Sweet Nothing (1995),20-Sep-1996,NaN,http://us.imdb.com/M/title-exact?Sweet%20Nothi...
1677,1678,Mat' i syn (1997),06-Feb-1998,NaN,http://us.imdb.com/M/title-exact?Mat%27+i+syn+...
1678,1679,B. Monkey (1998),06-Feb-1998,NaN,http://us.imdb.com/M/title-exact?B%2E+Monkey+(...
1679,1680,Sliding Doors (1998),01-Jan-1998,NaN,http://us.imdb.com/Title?Sliding+Doors+(1998)
1680,1681,You So Crazy (1994),01-Jan-1994,NaN,http://us.imdb.com/M/title-exact?You%20So%20Cr...
1681,1682,Scream of Stone (Schrei aus Stein) (1991),08-Mar-1996,NaN,http://us.imdb.com/M/title-exact?Schrei%20aus%...

Get information about data
=======================

In [7]:
# [To know dtypes of a df and series + to know statistics of a certain or all series in the df]

# [dataframe]
print(movies.dtypes)
print(movies.describe())

# [series]
print(movies.movie_id.dtypes)
print(movies.movie_id.describe())

movie_id                int64
title                  object
release_date           object
video_release_date    float64
imdb_url               object
dtype: object
          movie_id  video_release_date
count  1682.000000                 0.0
mean    841.500000                 NaN
std     485.695893                 NaN
min       1.000000                 NaN
25%     421.250000                 NaN
50%     841.500000                 NaN
75%    1261.750000                 NaN
max    1682.000000                 NaN
int64
count    1682.000000
mean      841.500000
std       485.695893
min         1.000000
25%       421.250000
50%       841.500000
75%      1261.750000
max      1682.000000
Name: movie_id, dtype: float64

Selecting data
==============

* DataFrame => group of Series with shared index
* single DataFrame column => Series

In [8]:
# [Data Frame indexing] 2 method => users.occupation(instance variable), users['occupation'] (indexing method)
print(users.occupation)
print(users['occupation']) # how to refer to a series in a df.

## *** Where did the nice design go? ***
print (users[['occupation', 'sex'] ], end = '\n\n') # column list into index part.

# [ Data frame indexing row - conditional indexing ]
# https://twpower.github.io/119-python-list-slicing-examples % row indexing - using slicing
users.iloc[::-1] # incase we need to load it upside down
users.iloc[::-1]

0         technician
1              other
2             writer
3         technician
4              other
5          executive
6      administrator
7      administrator
8            student
9             lawyer
10             other
11             other
12          educator
13         scientist
14          educator
15     entertainment
16        programmer
17             other
18         librarian
19         homemaker
20            writer
21            writer
22            artist
23            artist
24          engineer
25          engineer
26         librarian
27            writer
28        programmer
29           student
           ...
913            other
914    entertainment
915         engineer
916          student
917        scientist
918            other
919           artist
920          student
921    administrator
922          student
923            other
924         salesman
925    entertainment
926       programmer
927          student
928        scientist
929        scientist
930         educator
931         educator
932          student
933         engineer
934           doctor
935            other
936         educator
937       technician
938          student
939    administrator
940          student
941        librarian
942          student
Name: occupation, Length: 943, dtype: object
0         technician
1              other
2             writer
3         technician
4              other
5          executive
6      administrator
7      administrator
8            student
9             lawyer
10             other
11             other
12          educator
13         scientist
14          educator
15     entertainment
16        programmer
17             other
18         librarian
19         homemaker
20            writer
21            writer
22            artist
23            artist
24          engineer
25          engineer
26         librarian
27            writer
28        programmer
29           student
           ...
913            other
914    entertainment
915         engineer
916          student
917        scientist
918            other
919           artist
920          student
921    administrator
922          student
923            other
924         salesman
925    entertainment
926       programmer
927          student
928        scientist
929        scientist
930         educator
931         educator
932          student
933         engineer
934           doctor
935            other
936         educator
937       technician
938          student
939    administrator
940          student
941        librarian
942          student
Name: occupation, Length: 943, dtype: object
        occupation sex
0       technician   M
1            other   F
2           writer   M
3       technician   M
4            other   F
5        executive   M
6    administrator   M
7    administrator   M
8          student   M
9           lawyer   M
10           other   F
11           other   F
12        educator   M
13       scientist   M
14        educator   F
15   entertainment   M
16      programmer   M
17           other   F
18       librarian   M
19       homemaker   F
20          writer   M
21          writer   M
22          artist   F
23          artist   F
24        engineer   M
25        engineer   M
26       librarian   F
27          writer   M
28      programmer   M
29         student   M
..             ...  ..
913          other   F
914  entertainment   M
915       engineer   M
916        student   F
917      scientist   M
918          other   M
919         artist   F
920        student   F
921  administrator   F
922        student   M
923          other   M
924       salesman   F
925  entertainment   M
926     programmer   M
927        student   M
928      scientist   M
929      scientist   F
930       educator   M
931       educator   M
932        student   M
933       engineer   M
934         doctor   M
935          other   M
936       educator   M
937     technician   F
938        student   F
939  administrator   M
940        student   M
941      librarian   F
942        student   M

[943 rows x 2 columns]

     user_id  age sex     occupation zip_code
942      943   22   M        student    77841
941      942   48   F      librarian    78209
940      941   20   M        student    97229
939      940   32   M  administrator    02215
938      939   26   F        student    33319
937      938   38   F     technician    55038
936      937   48   M       educator    98072
935      936   24   M          other    32789
934      935   42   M         doctor    66221
933      934   61   M       engineer    22902
932      933   28   M        student    48105
931      932   58   M       educator    06437
930      931   60   M       educator    33556
929      930   28   F      scientist    07310
928      929   44   M      scientist    53711
927      928   21   M        student    55408
926      927   23   M     programmer    55428
925      926   49   M  entertainment    01701
924      925   18   F       salesman    49036
923      924   29   M          other    11753
922      923   21   M        student    E2E3R
921      922   29   F  administrator    21114
920      921   20   F        student    98801
919      920   30   F         artist    90008
918      919   25   M          other    14216
917      918   40   M      scientist    70116
916      917   22   F        student    20006
915      916   27   M       engineer    N2L5N
914      915   50   M  entertainment    60614
913      914   44   F          other    08105
..       ...  ...  ..            ...      ...
29        30    7   M        student    55436
28        29   41   M     programmer    94043
27        28   32   M         writer    55369
26        27   40   F      librarian    30030
25        26   49   M       engineer    21044
24        25   39   M       engineer    55107
23        24   21   F         artist    94533
22        23   30   F         artist    48197
21        22   25   M         writer    40206
20        21   26   M         writer    30068
19        20   42   F      homemaker    95660
18        19   40   M      librarian    02138
17        18   35   F          other    37212
16        17   30   M     programmer    06355
15        16   21   M  entertainment    10309
14        15   49   F       educator    97301
13        14   45   M      scientist    55106
12        13   47   M       educator    29206
11        12   28   F          other    06405
10        11   39   F          other    30329
9         10   53   M         lawyer    90703
8          9   29   M        student    01002
7          8   36   M  administrator    05201
6          7   57   M  administrator    91344
5          6   42   M      executive    98101
4          5   33   F          other    15213
3          4   24   M     technician    43537
2          3   23   M         writer    32067
1          2   53   F          other    94043
0          1   24   M     technician    85711

[943 rows x 5 columns]

Filtering data
==============

Select users older than 25

In [9]:
# Pandas tool : Querying
filtered = users[(users.age > 25) | (users.sex == 'M')] # symbolic boolyn inside.
users[(users.age > 25)&(users.sex != 'M') | (users.age <= 25)&(users.sex == 'M')]  # xor

#Pandas Query Mask !!
#Between Boolyn series => ^,|,&, => result is another pandas series of boolyn above is xor.

     user_id  age sex     occupation zip_code
0          1   24   M     technician    85711
1          2   53   F          other    94043
2          3   23   M         writer    32067
3          4   24   M     technician    43537
4          5   33   F          other    15213
10        11   39   F          other    30329
11        12   28   F          other    06405
14        15   49   F       educator    97301
15        16   21   M  entertainment    10309
17        18   35   F          other    37212
19        20   42   F      homemaker    95660
21        22   25   M         writer    40206
22        23   30   F         artist    48197
26        27   40   F      librarian    30030
29        30    7   M        student    55436
30        31   24   M         artist    10003
31        32   28   F        student    78741
32        33   23   M        student    27510
33        34   38   F  administrator    42141
36        37   23   M        student    55105
37        38   28   F          other    54467
42        43   29   F      librarian    20854
45        46   27   F      marketing    46538
49        50   21   M         writer    52245
53        54   22   M      executive    66315
55        56   25   M      librarian    46260
56        57   16   M           none    84010
61        62   27   F  administrator    97214
64        65   51   F       educator    48118
65        66   23   M        student    80521
..       ...  ...  ..            ...      ...
869      870   22   M        student    65203
872      873   48   F  administrator    33763
877      878   50   F       educator    98027
878      879   33   F  administrator    55337
879      880   13   M        student    83702
884      885   30   F          other    95316
885      886   20   M        student    61820
888      889   24   M     technician    78704
890      891   51   F  administrator    03062
892      893   25   M        student    95823
894      895   31   F      librarian    32301
897      898   23   M      homemaker    61755
901      902   45   F         artist    97203
907      908   44   F      librarian    68504
908      909   50   F       educator    53171
910      911   37   F         writer    53210
913      914   44   F          other    08105
918      919   25   M          other    14216
919      920   30   F         artist    90008
921      922   29   F  administrator    21114
922      923   21   M        student    E2E3R
926      927   23   M     programmer    55428
927      928   21   M        student    55408
929      930   28   F      scientist    07310
935      936   24   M          other    32789
937      938   38   F     technician    55038
938      939   26   F        student    33319
940      941   20   M        student    97229
941      942   48   F      librarian    78209
942      943   22   M        student    77841

[393 rows x 5 columns]

In [50]:
~(0)

-1

Quiz:
=====

* show users aged 40 and male

* show the mean age of female programmers

In [10]:
# I did good in this quiz !!
print(round(users[(users.sex == 'F')&(users.occupation == 'programmer')].age.mean()))

32

In [8]:
## users who are female and programmers
selected_users = users[(users.sex == 'F') & 
                       (users.occupation == 'programmer')]

## show statistic summary
print (selected_users.describe(include='int'))

## alternatives:
print (selected_users.age.mean())
print (selected_users['age'].mean())

          user_id        age
count    6.000000   6.000000
mean   411.166667  32.166667
std    149.987222   5.115336
min    292.000000  26.000000
25%    313.000000  28.250000
50%    378.000000  32.000000
75%    416.750000  36.500000
max    698.000000  38.000000
32.166666666666664
32.166666666666664

Split-apply-combine
===================

* splitting the data into groups based on some criteria
* applying a function to each group independently
* combining the results into a data structure

Split-apply-combine
===================

<img src=http://i.imgur.com/yjNkiwL.png></img>

Find Diligent Users
===================

* split data per user ID
* count ratings
* combine result

In [9]:
ratings

       user_id  movie_id  rating  unix_timestamp
0          196       242       3       881250949
1          186       302       3       891717742
2           22       377       1       878887116
3          244        51       2       880606923
4          166       346       1       886397596
5          298       474       4       884182806
6          115       265       2       881171488
7          253       465       5       891628467
8          305       451       3       886324817
9            6        86       3       883603013
10          62       257       2       879372434
11         286      1014       5       879781125
12         200       222       5       876042340
13         210        40       3       891035994
14         224        29       3       888104457
15         303       785       3       879485318
16         122       387       5       879270459
17         194       274       2       879539794
18         291      1042       4       874834944
19         234      1184       2       892079237
20         119       392       4       886176814
21         167       486       4       892738452
22         299       144       4       877881320
23         291       118       2       874833878
24         308         1       4       887736532
25          95       546       2       879196566
26          38        95       5       892430094
27         102       768       2       883748450
28          63       277       4       875747401
29         160       234       5       876861185
...        ...       ...     ...             ...
99970      449       120       1       879959573
99971      661       762       2       876037121
99972      721       874       3       877137447
99973      821       151       4       874792889
99974      764       596       3       876243046
99975      537       443       3       886031752
99976      618       628       2       891308019
99977      487       291       3       883445079
99978      113       975       5       875936424
99979      943       391       2       888640291
99980      864       685       4       888891900
99981      750       323       3       879445877
99982      279        64       1       875308510
99983      646       750       3       888528902
99984      654       370       2       887863914
99985      617       582       4       883789294
99986      913       690       3       880824288
99987      660       229       2       891406212
99988      421       498       4       892241344
99989      495      1091       4       888637503
99990      806       421       4       882388897
99991      676       538       4       892685437
99992      721       262       3       877137285
99993      913       209       2       881367150
99994      378        78       3       880056976
99995      880       476       3       880175444
99996      716       204       5       879795543
99997      276      1090       1       874795795
99998       13       225       2       882399156
99999       12       203       3       879959583

[100000 rows x 4 columns]

In [15]:
# [Panda group_by & aggregate style]
# splitted_table_object = df['column to leave'].groupby(df['the_key'])
# final_product_table = splitted_table_object.aggregate_function() ex). sto.mean()
# final_product_table (key : aggregate function result value)

# ex).1 user_id별 평균 별점

splitted_table_object = ratings['rating'].groupby(ratings['user_id'])
id2mean_rat = splitted_table_object.mean()
id2mean_rat[id2mean_rat]

user_id
1      3.610294
2      3.709677
3      2.796296
4      4.333333
5      2.874286
6      3.635071
7      3.965261
8      3.796610
9      4.272727
10     4.206522
11     3.464088
12     4.392157
13     3.097484
14     4.091837
15     2.875000
16     4.328571
17     3.035714
18     3.880866
19     3.550000
20     3.104167
21     2.670391
22     3.351562
23     3.635762
24     4.323529
25     4.051282
26     2.943925
27     3.240000
28     3.721519
29     3.647059
30     3.767442
         ...
914    3.086957
915    3.115385
916    3.365931
917    3.542857
918    3.349515
919    3.470046
920    3.230769
921    3.272727
922    3.370079
923    4.148649
924    3.756098
925    3.125000
926    3.300000
927    3.691667
928    4.687500
929    3.693878
930    2.968254
931    3.721311
932    3.966805
933    2.646739
934    3.701149
935    3.923077
936    3.746479
937    3.375000
938    3.268519
939    4.265306
940    3.457944
941    4.045455
942    4.265823
943    3.410714
Name: rating, Length: 943, dtype: float64

Quiz
====

* get the average rating per movie
* advanced: get the movie titles with the highest average rating

In [55]:
# brain storm

#print(movies)
#print(ratings)


# [ movie_id(group by) | rating ] => split object

mid_rate_object = ratings['rating'].groupby(ratings['movie_id'])


# In above object, get mean for each and then max value.

mid_meanrate_series = mid_rate_object.mean() # <= series
max_value = mid_avg_rate_series.max() # get the maximum value


# Find movie id having the max value as its avg. rating

best_movie_id = mid_meanrate_series[mid_avg_rate_series == max_value].index


# go to the 'movies' dataset and find the row having the 'best movie id' and show title

movies[movies.movie_id.isin(best_movie_id)].title # used membership test : is the value of the column have
# the value that exists in the following set ? : membership test.


# [ Data Analysis 'Craftmanship' ]

# Though I got the movies having the highest value in avg. rating
# There were only 1 ~ 3 ratings given in whole. So it can't be meaningful in
# telling others that the movies are going to be 'generally' good.
# what could be done ? => How about we choose out the movies that have over 10 ratings
# and having the maximum value of it. There may not be anything.
mid_rating_object = ratings['rating'].groupby(ratings['movie_id'])
mid_ratecount_table = mid_rating_object.count()
enough_rate_mid = mid_ratecount_table[mid_ratecount_table >= 3]


# give a predicate that it should have more or equal to 3 ratins
# To at least get some 'generalizability'
best_movie_id = mid_meanrate_series[mid_avg_rate_series == max_value].index
enough_rate_mid = mid_ratecount_table[mid_ratecount_table >= 3].index
a = list(best_movie_id.intersection(enough_rate_mid))
movies[movies['movie_id'].isin(a)].title

# [Harvard Student Question] is it possible to order the series data.
# use .sort_values(parametes) - both 'series' & dataframe.
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sort_values.html
mid_ratecount_table.sort_values(ascending = False)
ratings.sort_values(by = 'user_id', ascending = True)

       user_id  movie_id  rating  unix_timestamp
66567        1        55       5       875072688
62820        1       203       4       878542231
10207        1       183       5       875072262
9971         1       150       5       876892196
22496        1        68       4       875072688
9811         1       201       3       878542960
9722         1       157       4       876892918
9692         1       184       4       875072956
9566         1       210       4       878542909
9382         1       163       4       875072442
35409        1       271       2       887431672
22669        1       146       4       875071561
22845        1       176       5       876892468
35389        1       144       4       875073180
9307         1        53       3       876893206
334          1       160       4       875072547
333          1        33       4       878542699
9255         1        44       5       878543541
9224         1        97       3       875073128
9170         1        14       5       874965706
62649        1       263       1       875693007
62631        1         4       3       876893119
1780         1        17       3       875073198
820          1       265       4       878542441
56881        1        25       4       875071805
37820        1        37       2       878543030
57256        1       251       4       875071843
57423        1       195       5       876892855
11080        1       148       2       875240799
21152        1       179       3       875072370
...        ...       ...     ...             ...
68943      943       808       4       888639868
84061      943       318       3       888639093
98707      943       568       3       888639042
81005      943       450       1       888693158
91247      943        31       4       888639066
94083      943       831       2       875502283
96962      943       185       2       888639370
94199      943       173       5       888638960
73600      943        96       4       888638920
68024      943       232       4       888639867
95291      943       228       3       888693158
90271      943       194       5       888639192
67975      943       570       1       888640125
72218      943       595       2       875502597
73651      943       373       3       888640275
97804      943        69       5       888639427
97845      943       168       2       888638897
94429      943       239       5       888639867
88511      943       151       4       888692699
82198      943       402       2       888639702
94410      943       419       2       888638920
88402      943       614       5       888639351
78814      943       117       4       875501937
88367      943       282       5       875502230
80079      943       174       4       875410099
96823      943       427       4       888639147
70902      943        12       5       888639093
84518      943       284       2       875502192
72321      943        62       3       888640003
70713      943       210       4       888639147

[100000 rows x 4 columns]

Passing a Function
==================

In [84]:
# .apply / annonymous function inside
mid_rating_object = ratings['rating'].groupby(ratings['movie_id'])

# x is a parameter and right to the: is output
mid_ratecount_table = mid_rating_object.apply(lambda x: x.count()) 
mid_ratecount_table

# split_object.apply(lambda) the lambda is applied for each row. and concat. as the final series.
max_point = mid_rating_object.apply(lambda x: (x.count()))
print(max_point)

movie_id
1       452
2       131
3        90
4       209
5        86
6        26
7       392
8       219
9       299
10       89
11      236
12      267
13      184
14      183
15      293
16       39
17       92
18       10
19       69
20       72
21       84
22      297
23      182
24      174
25      293
26       73
27       57
28      276
29      114
30       37
       ...
1653      1
1654      1
1655      1
1656      2
1657      1
1658      3
1659      1
1660      1
1661      1
1662      2
1663      1
1664      4
1665      1
1666      1
1667      1
1668      1
1669      1
1670      1
1671      1
1672      2
1673      1
1674      1
1675      1
1676      1
1677      1
1678      1
1679      1
1680      1
1681      1
1682      1
Name: rating, Length: 1682, dtype: int64

# H/W (DON'T FORGET SEOKHEE )

Quiz 
====

* get the average rating per user
* advanced: list all occupations and if they are male or female dominant

# .GROUPBY & .apply(lambda x: f(x))

In [20]:
# [My solution] group by, lambda practice
# I rather calculated dominance rate
occu_sex_object = users['sex'].groupby(users['occupation'])
occu_mdrate = occu_sex_object.apply(lambda x: round((sum(x=='M')/(sum(x=='M') + sum(x=='F'))*100),2))
# And tried to think what insight it could give under the premise of occam's razor.
print(occu_mdrate)
# 1st. Dataset is 943 chosen user personal info using movie lens rating website.
# Say that it is randomly chosen users. It would be better if we have whole user data
# as it is only as big as 136,000 users and it's only that many lines of csv file.
# It could show which sex is dominant in proportion in which job. 
# If the website is originally male dependent, say it is 70:30 bet. male users and female users,
# The expected dominance for each in vacuum is 70:30, so in that case
# the job showing male dependence showing much less than 70 is rather more of 'female dependent'.
# However, in both cases, engineer, entertainment, executeive, lawyer, 
# programmer, retired, scientist, technician are highly likely to be 'male dominant' essentially.


# More practice : tell if a group is 'male-dominant' or not 
occu_sexes_object = users['sex'].groupby(users['occupation'])
rate = occu_sexes_object.apply(lambda x: (round(sum(x == 'M')/(sum(x == 'M') + sum(x == 'F')),2)*100) > 70)

occupation
administrator     54.43
artist            53.57
doctor           100.00
educator          72.63
engineer          97.01
entertainment     88.89
executive         90.62
healthcare        31.25
homemaker         14.29
lawyer            83.33
librarian         43.14
marketing         61.54
none              55.56
other             65.71
programmer        90.91
retired           92.86
salesman          75.00
scientist         90.32
student           69.39
technician        96.30
writer            57.78
Name: sex, dtype: float64

In [21]:
grouped_data = users['sex'].groupby(users['occupation'])
male_dominant_occupations = grouped_data.apply(lambda f: 
                                               sum(f == 'M') > sum(f == 'F'))
print (male_dominant_occupations)
print ('\n')

occupation
administrator     True
artist            True
doctor            True
educator          True
engineer          True
entertainment     True
executive         True
healthcare       False
homemaker        False
lawyer            True
librarian        False
marketing         True
none              True
other             True
programmer        True
retired           True
salesman          True
scientist         True
student           True
technician        True
writer            True
Name: sex, dtype: bool

In [24]:
print(users['sex'] == 'M')

print ('number of male users: ')
print (sum(users['sex'] == 'M'))

print ('number of female users: ')
print (sum(users['sex'] == 'F'))

0       True
1      False
2       True
3       True
4      False
5       True
6       True
7       True
8       True
9       True
10     False
11     False
12      True
13      True
14     False
15      True
16      True
17     False
18      True
19     False
20      True
21      True
22     False
23     False
24      True
25      True
26     False
27      True
28      True
29      True
       ...
913    False
914     True
915     True
916    False
917     True
918     True
919    False
920    False
921    False
922     True
923     True
924    False
925     True
926     True
927     True
928     True
929    False
930     True
931     True
932     True
933     True
934     True
935     True
936     True
937    False
938    False
939     True
940     True
941    False
942     True
Name: sex, Length: 943, dtype: bool
number of male users:
670
number of female users:
273

Pandas "wrapup"
==========

- create data frames
- get sub-frames
- filter data 
- use group-by
- apply a user defined function


![cute panda](images/cute_panda.jpg)

Python data scraping
====================

* Why scrape the web?
    - vast source of information
    - automate tasks
    - keep up with sites
    - fun!

** Can you think of examples ? **

  
Answer: Some examples we had were stock market monitoring, sports data, or airline prices.

Read and Tweet!
=================

![ReadTweet](http://developer.nytimes.com/files/readtweet.jpg)

* by Justin Blinder
* http://projects.justinblinder.com/We-Read-We-Tweet

“We Read, We Tweet” geographically visualizes the dissemination of New York Times articles through Twitter. Each line connects the location of a tweet to the contextual location of the New York Times article it referenced. The lines are generated in a sequence based on the time in which a tweet occurs. The project explores digital news distribution in a temporal and spatial context through the social space of Twitter.

Twitter Sentiments
=================

![TwitterSentiments](http://www.csc.ncsu.edu/faculty/healey/tweet_viz/figs/tweet-viz-ex.png
 "Twitter Sentiments")

* by Healey and Ramaswamy
* http://www.csc.ncsu.edu/faculty/healey/tweet_viz/tweet_app/

Type a keyword into the input field, then click the Query button. Recent tweets that contain your keyword are pulled from Twitter and visualized in the Sentiment tab as circles. Hover your mouse over a tweet or click on it to see its text.

Python data scraping
====================

* copyrights and permission:
    - be careful and polite
    - give credit
    - care about media law
    - don't be evil (no spam, overloading sites, etc.)
    - use sleep not to hit and request for too many times in a row.

Robots.txt
==========

![Robots.txt](images/robots_txt.jpg "Robots.txt")

Robots.txt
==========

* specified by web site owner
* gives instructions to web robots (aka your script)
* is located at the top-level directory of the web server

http://www.example.com/robots.txt

If you want you can also have a look at

http://google.com/robots.txt

Robots.txt
==========

*** What does this one do? ***


User-agent: Google
Disallow:

User-agent: *
Disallow: /

Answer: This file allows google to search through everything on the server, while all others should stay completely away.

Things to consider:
-------------------

* can be just ignored
* can be a security risk - *** Why? ***

Answer: You are basically telling everybody who cares to look into the file where you have stored sensitive information.

Scraping with Python:
=====================

* scraping is all about HTML tags
* bad news: 
    - need to learn about tags
    - websites can be ugly

HTML
=====

* HyperText Markup Language

* standard for creating webpages

* HTML tags 
    - have angle brackets : <>
    - typically come in pairs
    - 대칭이고, <> => </> ~로 되어있다.

This is an example for a minimal webpage defined in HTML tags. The root tag is `<html>` and then you have the `<head>` tag. This part of the page typically includes the title of the page and might also have other meta information like the author or keywords that are important for search engines. The `<body>` tag marks the actual content of the page. You can play around with the `<h2>` tag trying different header levels. They range from 1 to 6.

In [59]:
htmlString = """<!DOCTYPE html>
<html>
  <head>
    <title>This is a title</title> 
  </head>
  <body>
    <h3> Sucky website </h3> <!--I am a comment.-->
    <p>Hi there.<br>It's my first html script.<br>
    This is a famous website called 'NAVER' in Korea<br>
    <a href="https://www.naver.com/">
    website url</a>  <!--it's a tag with attribute href : link is stored in there-->
    </p>
  </body>
</html>"""

htmlOutput = HTML(htmlString)
htmlOutput

# so title does not get into contents. 
# Only body does.

Useful Tags
===========

* heading
`<h1></h1> ... <h6></h6>`

* paragraph
`<p></p>` 

* line break
`<br>` 

* link with attribute

`<a href="http://www.example.com/">An example link</a>`

## + ) TAGS

* DIVISION : divide zone by zone => include other tags with indent
`<div> ~ </div>`
* LISTY TAGs
`ol` , `ul` , `dl`

In [63]:
# tag training
htmlString2 = """<!DOCTYPE html>
<html>
	<body>
		<div style="background-color:cyan">구역1</div>
		<div style="width:100px; height:100px; background-color:#CF0">구역2</div>
	</body>
</html>
"""

htmlString3 = """<!DOCTYPE html>
<html>
	<body>
        <ul>
            <li>korea</li>
            <li>usa</li>
            <li>chile</li>
        </ul>
	</body>
</html>
"""

htmlOutput = HTML(htmlString2)
htmlOutput

htmlOutput = HTML(htmlString3)
htmlOutput

[요소찾기연습 페이지]Scraping with Python:
=====================

* example of a beautifully simple webpage:

http://www.crummy.com/software/BeautifulSoup

Scraping with Python:
=====================

* good news: 
    - some browsers help
    - look for: inspect element
    - need only basic html
    
** Try 'Ctrl-Shift I' in Chrome **

** Try 'Command-Option I' in Safari **

### On mac : Fn + F12 / "command shift C : automatically trace the html element

Scraping with Python
==================

* different useful libraries:
    - urllib
    - beautifulsoup
    - pattern
    - soupy
    - LXML
    - ...
    
## Look for library : all are there to scrape every thing even netflix video.

The following cell just defines a url as a string and then reads the data from that url using the `urllib` library. If you uncomment the print command you see that we got the whole HTML content of the page into the string variable source.

In [65]:
url = 'http://www.crummy.com/software/BeautifulSoup'
source = urllib.request.urlopen(url).read().decode('utf-8')  # [python3 update on using urllib] whole string
source

'<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"\n"http://www.w3.org/TR/REC-html40/transitional.dtd">\n<html>\n<head>\n<meta http-equiv="Content-Type" content="text/html; charset=utf-8">\n<title>Beautiful Soup: We called him Tortoise because he taught us.</title>\n<link rev="made" href="mailto:leonardr@segfault.org">\n<link rel="stylesheet" type="text/css" href="/nb/themes/Default/nb.css">\n<meta name="Description" content="Beautiful Soup: a library designed for screen-scraping HTML and XML.">\n<meta name="generator" content="Markov Approximation 1.4 (module: leonardr)">\n<meta name="author" content="Leonard Richardson">\n</head>\n<body bgcolor="white" text="black" link="blue" vlink="660066" alink="red">\n<img align="right" src="10.1.jpg" width="250"><br />\n\n<p>You didn\'t write that awful page. You\'re just trying to get some\ndata out of it. Beautiful Soup is here to help. Since 2004, it\'s been\nsaving programmers hours or days of work on quick-turnaround\nscreen scraping projects.</p>\n\n<div align="center">\n\n<a href="bs4/download/"><h1>Beautiful Soup</h1></a>\n\n<p>"A tremendous boon." -- Python411 Podcast</p>\n\n<p>[ <a href="#Download">Download</a> | <a\nhref="bs4/doc/">Documentation</a> | <a href="#HallOfFame">Hall of Fame</a> | <a href="https://code.launchpad.net/beautifulsoup">Source</a> | <a href="https://bazaar.launchpad.net/%7Eleonardr/beautifulsoup/bs4/view/head:/CHANGELOG">Changelog</a> | <a href="https://groups.google.com/forum/?fromgroups#!forum/beautifulsoup">Discussion group</a>  | <a href="zine/">Zine</a> ]</p>\n\n<p><small>If you use Beautiful Soup as part of your work, please consider a <a href="https://tidelift.com/subscription/pkg/pypi-beautifulsoup4?utm_source=pypi-beautifulsoup4&utm_medium=referral&utm_campaign=website">Tidelift subscription</a>. This will support many of the free software projects your organization depends on, not just Beautiful Soup.\n<p>If Beautiful Soup is useful to you on a personal level, you might like to read <a href="zine/"><i>Tool Safety</i></a>, a short zine I wrote about what I learned about software development from working on Beautiful Soup. Thanks!</small></p>\n\n\n\n</div>\n\n<p><i>If you have questions, send them to <a\nhref="https://groups.google.com/forum/?fromgroups#!forum/beautifulsoup">the discussion\ngroup</a>. If you find a bug, <a href="https://bugs.launchpad.net/beautifulsoup/">file it</a>.</i></p>\n\n<p>Beautiful Soup is a Python library designed for quick turnaround\nprojects like screen-scraping. Three features make it powerful:\n\n<ol>\n\n<li>Beautiful Soup provides a few simple methods and Pythonic idioms\nfor navigating, searching, and modifying a parse tree: a toolkit for\ndissecting a document and extracting what you need. It doesn\'t take\nmuch code to write an application\n\n<li>Beautiful Soup automatically converts incoming documents to\nUnicode and outgoing documents to UTF-8. You don\'t have to think\nabout encodings, unless the document doesn\'t specify an encoding and\nBeautiful Soup can\'t detect one. Then you just have to specify the\noriginal encoding.\n\n<li>Beautiful Soup sits on top of popular Python parsers like <a\nhref="http://lxml.de/">lxml</a> and <a\nhref="http://code.google.com/p/html5lib/">html5lib</a>, allowing you\nto try out different parsing strategies or trade speed for\nflexibility.\n\n</ol>\n\n<p>Beautiful Soup parses anything you give it, and does the tree\ntraversal stuff for you. You can tell it "Find all the links", or\n"Find all the links of class <tt>externalLink</tt>", or "Find all the\nlinks whose urls match "foo.com", or "Find the table heading that\'s\ngot bold text, then give me that text."\n\n<p>Valuable data that was once locked up in poorly-designed websites\nis now within your reach. Projects that would have taken hours take\nonly minutes with Beautiful Soup.\n\n<p>Interested? <a href="bs4/doc/">Read more.</a>\n\n<a name="Download"><h2>Download Beautiful Soup</h2></a>\n\n<p>The current release is <a href="bs4/download/">Beautiful Soup\n4.7.1</a> (January 6, 2019). You can install Beautiful Soup 4 with\n<code>pip install beautifulsoup4</code>.\n\n<p>In Debian and Ubuntu, Beautiful Soup is available as the\n<code>python-bs4</code> package (for Python 2) or the\n<code>python3-bs4</code> package (for Python 3). In Fedora it\'s\navailable as the <code>python-beautifulsoup4</code> package.\n\n<p>Beautiful Soup is licensed under the MIT license, so you can also\ndownload the tarball, drop the <code>bs4/</code> directory into almost\nany Python application (or into your library path) and start using it\nimmediately. (If you want to do this under Python 3, you will need to\nmanually convert the code using <code>2to3</code>.)\n\n<p>Beautiful Soup 4 works on both Python 2 (2.7+) and Python 3.\n\n<h3>Beautiful Soup 3</h3>\n\n<p>Beautiful Soup 3 was the official release line of Beautiful Soup\nfrom May 2006 to March 2012. It is considered stable, and only\ncritical security bugs will be fixed. <a\nhref="http://www.crummy.com/software/BeautifulSoup/bs3/documentation.html">Here\'s\nthe Beautiful Soup 3 documentation.</a>\n\n<p>Beautiful Soup 3 works only under Python 2.x. It is licensed under\nthe same license as Python itself.\n\n<p>The current release of Beautiful Soup 3 is <a\nhref="download/3.x/BeautifulSoup-3.2.1.tar.gz">3.2.1</a> (February 16,\n2012). You can install Beautiful Soup 3 with <code>pip install\nBeautifulSoup</code>. It\'s also available as\n<code>python-beautifulsoup</code> in Debian and Ubuntu, and as\n<code>python-BeautifulSoup</code> in Fedora.\n\n<p>You can also download the tarball and use\n<code>BeautifulSoup.py</code> in your project directly.\n\n\n<a name="HallOfFame"><h2>Hall of Fame</h2></a>\n\n<p>Over the years, Beautiful Soup has been used in hundreds of\ndifferent projects. There\'s no way I can list them all, but I want to\nhighlight a few high-profile projects. Beautiful Soup isn\'t what makes\nthese projects interesting, but it did make their completion easier:\n\n<ul>\n\n<li><a\n href="http://www.nytimes.com/2007/10/25/arts/design/25vide.html">"Movable\n Type"</a>, a work of digital art on display in the lobby of the New\n York Times building, uses Beautiful Soup to scrape news feeds.\n\n<li>Reddit uses Beautiful Soup to <a\nhref="https://github.com/reddit/reddit/blob/85f9cff3e2ab9bb8f19b96acd8da4ebacc079f04/r2/r2/lib/media.py">parse\na page that\'s been linked to and find a representative image</a>.\n\n<li>Alexander Harrowell uses Beautiful Soup to <a\n href="http://www.harrowell.org.uk/viktormap.html">track the business\n activities</a> of an arms merchant.\n\n<li>The developers of Python itself used Beautiful Soup to <a\nhref="http://svn.python.org/view/tracker/importer/">migrate the Python\nbug tracker from Sourceforge to Roundup</a>.\n\n<li>The <a href="http://www2.ljworld.com/">Lawrence Journal-World</a>\nuses Beautiful Soup to <A\nhref="http://www.b-list.org/weblog/2010/nov/02/news-done-broke/">gather\nstatewide election results</a>.\n\n<li>The <a href="http://esrl.noaa.gov/gsd/fab/">NOAA\'s Forecast\nApplications Branch</a> uses Beautiful Soup in <a\nhref="http://laps.noaa.gov/topograbber/">TopoGrabber</a>, a script for\ndownloading "high resolution USGS datasets."\n\n</ul>\n\n<p>If you\'ve used Beautiful Soup in a project you\'d like me to know\nabout, please do send email to me or <a\nhref="http://groups.google.com/group/beautifulsoup/">the discussion\ngroup</a>.\n\n<h2>Development</h2>\n\n<p>Development happens at <a\nhref="https://launchpad.net/beautifulsoup">Launchpad</a>. You can <a\nhref="https://code.launchpad.net/beautifulsoup/">get the source\ncode</a> or <a href="https://bugs.launchpad.net/beautifulsoup/">file\nbugs</a>.<hr><table><tr><td valign="top">\n<p>This document (<a href="/source/software/BeautifulSoup/index.bhtml">source</a>) is part of Crummy, the webspace of <a href="/self/">Leonard Richardson</a> (<a href="/self/contact.html">contact information</a>). It was last modified on Monday, January 07 2019, 00:54:05 Nowhere Standard Time and last built on Friday, May 17 2019, 11:00:01 Nowhere Standard Time.</p><p><table class="licenseText"><tr><td><a href="http://creativecommons.org/licenses/by-sa/2.0/"><img border="0" src="/nb//resources/img/somerights20.jpg"></a></td><td valign="top">Crummy is &copy; 1996-2019 Leonard Richardson. Unless otherwise noted, all text licensed under a <a href="http://creativecommons.org/licenses/by-sa/2.0/">Creative Commons License</a>.</td></tr></table></span><!--<rdf:RDF xmlns="http://web.resource.org/cc/" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"><Work rdf:about="http://www.crummy.com/"><dc:title>Crummy: The Site</dc:title><dc:rights><Agent><dc:title>Crummy: the Site</dc:title></Agent></dc:rights><dc:format>text/html</dc:format><license rdf:resource=http://creativecommons.org/licenses/by-sa/2.0//></Work><License rdf:about="http://creativecommons.org/licenses/by-sa/2.0/"></License></rdf:RDF>--></p></td><td valign=top><p><b>Document tree:</b>\n<dl><dd><a href="http://www.crummy.com/">http://www.crummy.com/</a><dl><dd><a href="http://www.crummy.com/software/">software/</a><dl><dd><a href="http://www.crummy.com/software/BeautifulSoup/">BeautifulSoup/</a></dl>\n</dl>\n</dl>\n\n\nSite Search:\n\n<form method="get" action="/search/">\n        <input type="text" name="q" maxlength="255" value=""></input>\n        </form>\n        </td>\n\n</tr>\n\n</table>\n</body>\n</html>\n'

Quiz :
======

* Is the word 'Alice' mentioned on the beautiful soup homepage?
* How often does the word 'Soup' occur on the site?
    - hint: use `.count()`
* At what index occurs the substring 'alien video games' ?
    - hint: use `.find()`

In [69]:
## is 'Alice' in source?
print('Alice' in source)

## count occurences of 'Soup'
print (source.count('Soup'))

## find index of 'alien video games'
position = source.find('Hall of Fame')
print (position)

## quick test to see the substring in the source variable
## you can access strings like lists
source[position:position + 12]

## or the tidier version:
source[position:position + len('Hall of Fame')]

False
45
1225

'Hall of Fame'

Beautiful Soup
==============

* designed to make your life easier
* many good functions for parsing html code

Some examples
=============

In [148]:
## get bs4 object as 'soup'
soup = bs4.BeautifulSoup(source)
soup
## compare the two print statements
#print(soup)
#print(soup.prettify())

## show how to find all <a> tags
soup.findAll('p') # => bs4object.method_findALL('TAG -a')

## ***Why does this not work? ***
soup.findAll('Soup') # cuz, it is now looking up by 'html tags'

[]

The last command only returns an empty list, because `Soup` is not an HTML tag. It is just a string that occours in the webpage.

Some examples
=============

In [108]:
## get attribute value from an element:
## find tag: this only returns the first occurrence, not all tags in the string
first_tag = soup.find('a')  # find a certain tag
first_tag
## get attribute `href`
first_tag.get('href') # get the value by putting in the attribute key => returns the value as url link.

## get all links in the page
link_list = [l.get('href') for l in soup.findAll('a')]
link_list

## filter no none, start wiht http
new_link_list = [i for i in link_list if i is not None and i.startswith('http')]
new_link_list

['https://code.launchpad.net/beautifulsoup',
 'https://bazaar.launchpad.net/%7Eleonardr/beautifulsoup/bs4/view/head:/CHANGELOG',
 'https://groups.google.com/forum/?fromgroups#!forum/beautifulsoup',
 'https://tidelift.com/subscription/pkg/pypi-beautifulsoup4?utm_source=pypi-beautifulsoup4&utm_medium=referral&utm_campaign=website',
 'https://groups.google.com/forum/?fromgroups#!forum/beautifulsoup',
 'https://bugs.launchpad.net/beautifulsoup/',
 'http://lxml.de/',
 'http://code.google.com/p/html5lib/',
 'http://www.crummy.com/software/BeautifulSoup/bs3/documentation.html',
 'http://www.nytimes.com/2007/10/25/arts/design/25vide.html',
 'https://github.com/reddit/reddit/blob/85f9cff3e2ab9bb8f19b96acd8da4ebacc079f04/r2/r2/lib/media.py',
 'http://www.harrowell.org.uk/viktormap.html',
 'http://svn.python.org/view/tracker/importer/',
 'http://www2.ljworld.com/',
 'http://www.b-list.org/weblog/2010/nov/02/news-done-broke/',
 'http://esrl.noaa.gov/gsd/fab/',
 'http://laps.noaa.gov/topograbber/',
 'http://groups.google.com/group/beautifulsoup/',
 'https://launchpad.net/beautifulsoup',
 'https://code.launchpad.net/beautifulsoup/',
 'https://bugs.launchpad.net/beautifulsoup/',
 'http://creativecommons.org/licenses/by-sa/2.0/',
 'http://creativecommons.org/licenses/by-sa/2.0/',
 'http://www.crummy.com/',
 'http://www.crummy.com/software/',
 'http://www.crummy.com/software/BeautifulSoup/']

In [109]:
## filter all external links
# create an empty list to collect the valid links
external_links = []

# write a loop to filter the links
# if it starts with 'http' we are happy
for l in link_list:
    if l[:4] == 'http':
        external_links.append(l)

# this throws an error! It says something about 'NoneType'

TypeError: 'NoneType' object is not subscriptable

In [154]:
# lets investigate. Have a close look at the link_list:
link_list

# Seems that there are None elements!
# Let's verify
#print sum([l is None for l in link_list])

# So there are two elements in the list that are None!

['bs4/download/',
 '#Download',
 'bs4/doc/',
 '#HallOfFame',
 'https://code.launchpad.net/beautifulsoup',
 'https://bazaar.launchpad.net/%7Eleonardr/beautifulsoup/bs4/view/head:/CHANGELOG',
 'https://groups.google.com/forum/?fromgroups#!forum/beautifulsoup',
 'zine/',
 'https://tidelift.com/subscription/pkg/pypi-beautifulsoup4?utm_source=pypi-beautifulsoup4&utm_medium=referral&utm_campaign=website',
 'zine/',
 'https://groups.google.com/forum/?fromgroups#!forum/beautifulsoup',
 'https://bugs.launchpad.net/beautifulsoup/',
 'http://lxml.de/',
 'http://code.google.com/p/html5lib/',
 'bs4/doc/',
 None,
 'bs4/download/',
 'http://www.crummy.com/software/BeautifulSoup/bs3/documentation.html',
 'download/3.x/BeautifulSoup-3.2.1.tar.gz',
 None,
 'http://www.nytimes.com/2007/10/25/arts/design/25vide.html',
 'https://github.com/reddit/reddit/blob/85f9cff3e2ab9bb8f19b96acd8da4ebacc079f04/r2/r2/lib/media.py',
 'http://www.harrowell.org.uk/viktormap.html',
 'http://svn.python.org/view/tracker/importer/',
 'http://www2.ljworld.com/',
 'http://www.b-list.org/weblog/2010/nov/02/news-done-broke/',
 'http://esrl.noaa.gov/gsd/fab/',
 'http://laps.noaa.gov/topograbber/',
 'http://groups.google.com/group/beautifulsoup/',
 'https://launchpad.net/beautifulsoup',
 'https://code.launchpad.net/beautifulsoup/',
 'https://bugs.launchpad.net/beautifulsoup/',
 '/source/software/BeautifulSoup/index.bhtml',
 '/self/',
 '/self/contact.html',
 'http://creativecommons.org/licenses/by-sa/2.0/',
 'http://creativecommons.org/licenses/by-sa/2.0/',
 'http://www.crummy.com/',
 'http://www.crummy.com/software/',
 'http://www.crummy.com/software/BeautifulSoup/']

In [83]:
# Let's filter those objects out in the for loop
external_links = []

# write a loop to filter the links
# if it is not None and starts with 'http' we are happy
for l in link_list:
    if l is not None and l[:4] == 'http':  
        external_links.append(l)
        
external_links

['https://code.launchpad.net/beautifulsoup',
 'https://bazaar.launchpad.net/%7Eleonardr/beautifulsoup/bs4/view/head:/CHANGELOG',
 'https://groups.google.com/forum/?fromgroups#!forum/beautifulsoup',
 'https://tidelift.com/subscription/pkg/pypi-beautifulsoup4?utm_source=pypi-beautifulsoup4&utm_medium=referral&utm_campaign=website',
 'https://groups.google.com/forum/?fromgroups#!forum/beautifulsoup',
 'https://bugs.launchpad.net/beautifulsoup/',
 'http://lxml.de/',
 'http://code.google.com/p/html5lib/',
 'http://www.crummy.com/software/BeautifulSoup/bs3/documentation.html',
 'http://www.nytimes.com/2007/10/25/arts/design/25vide.html',
 'https://github.com/reddit/reddit/blob/85f9cff3e2ab9bb8f19b96acd8da4ebacc079f04/r2/r2/lib/media.py',
 'http://www.harrowell.org.uk/viktormap.html',
 'http://svn.python.org/view/tracker/importer/',
 'http://www2.ljworld.com/',
 'http://www.b-list.org/weblog/2010/nov/02/news-done-broke/',
 'http://esrl.noaa.gov/gsd/fab/',
 'http://laps.noaa.gov/topograbber/',
 'http://groups.google.com/group/beautifulsoup/',
 'https://launchpad.net/beautifulsoup',
 'https://code.launchpad.net/beautifulsoup/',
 'https://bugs.launchpad.net/beautifulsoup/',
 'http://creativecommons.org/licenses/by-sa/2.0/',
 'http://creativecommons.org/licenses/by-sa/2.0/',
 'http://www.crummy.com/',
 'http://www.crummy.com/software/',
 'http://www.crummy.com/software/BeautifulSoup/']

Note: The above `if` condition works because of lazy evaluation in Python. The `and` statement becomes `False` if the first part is `False`, so there is no need to ever evaluate the second part. Thus a `None` entry in the list gets never asked about its first four characters.

In [111]:
# good to make my code reads like english !! => python enthu. love this for that.
# and we can put this in a list comprehension as well, it almost reads like 
# a sentence.

[l for l in link_list if l is not None and l.startswith('http')]

['https://code.launchpad.net/beautifulsoup',
 'https://bazaar.launchpad.net/%7Eleonardr/beautifulsoup/bs4/view/head:/CHANGELOG',
 'https://groups.google.com/forum/?fromgroups#!forum/beautifulsoup',
 'https://tidelift.com/subscription/pkg/pypi-beautifulsoup4?utm_source=pypi-beautifulsoup4&utm_medium=referral&utm_campaign=website',
 'https://groups.google.com/forum/?fromgroups#!forum/beautifulsoup',
 'https://bugs.launchpad.net/beautifulsoup/',
 'http://lxml.de/',
 'http://code.google.com/p/html5lib/',
 'http://www.crummy.com/software/BeautifulSoup/bs3/documentation.html',
 'http://www.nytimes.com/2007/10/25/arts/design/25vide.html',
 'https://github.com/reddit/reddit/blob/85f9cff3e2ab9bb8f19b96acd8da4ebacc079f04/r2/r2/lib/media.py',
 'http://www.harrowell.org.uk/viktormap.html',
 'http://svn.python.org/view/tracker/importer/',
 'http://www2.ljworld.com/',
 'http://www.b-list.org/weblog/2010/nov/02/news-done-broke/',
 'http://esrl.noaa.gov/gsd/fab/',
 'http://laps.noaa.gov/topograbber/',
 'http://groups.google.com/group/beautifulsoup/',
 'https://launchpad.net/beautifulsoup',
 'https://code.launchpad.net/beautifulsoup/',
 'https://bugs.launchpad.net/beautifulsoup/',
 'http://creativecommons.org/licenses/by-sa/2.0/',
 'http://creativecommons.org/licenses/by-sa/2.0/',
 'http://www.crummy.com/',
 'http://www.crummy.com/software/',
 'http://www.crummy.com/software/BeautifulSoup/']

Parsing the Tree
================

In [212]:
# redifining `s` without any line breaks
s = """<!DOCTYPE html><html><head><title>This is a title</title></head><body><h3> Test </h3><p>Hello world!</p></body></html>"""
## get bs4 object
tree = bs4.BeautifulSoup(s)
tree.html
## get html root node
root_node = tree.html
## get to head from root using .contents[0]
head = root_node.contents[0]
## get body from root
body = root_node.contents[1]
## could directly access body
tree.body.contents
tree.body.contents[0].contents[0] # got it !!

' Test '

Quiz: HW// FOR ME !!
=====

* Find the `h3` tag by parsing the tree starting at `body`
* Create a list of all __Hall of Fame__ entries listed on the Beautiful Soup webpage
    - hint: it is the only unordered list in the page (tag `ul`)

In [213]:
# 2 ways that bs tree allows
body.contents[0]
body.h3

In [ ]:
## get h3 tag from body
body.contents[0]

In [166]:
tree.html.contents[1].contents[0]

In [226]:
# [ My answer ]
# Create a list of all Hall of Fame entries listed on the Beautiful Soup webpage
# hint: it is the only unordered list in the page (tag ul)

tree = bs4.BeautifulSoup(source)
list_of_lis = tree.find('ul').contents[1:]

last_list = []

for i in range(len(list_of_lis)):
    complete_string = ''.join(str(a) for a in list_of_lis[i].contents)
    last_list.append(complete_string)
    
print('\n'.join(last_list))

<a href="http://www.nytimes.com/2007/10/25/arts/design/25vide.html">"Movable
 Type"</a>, a work of digital art on display in the lobby of the New
 York Times building, uses Beautiful Soup to scrape news feeds.


Reddit uses Beautiful Soup to <a href="https://github.com/reddit/reddit/blob/85f9cff3e2ab9bb8f19b96acd8da4ebacc079f04/r2/r2/lib/media.py">parse
a page that's been linked to and find a representative image</a>.


Alexander Harrowell uses Beautiful Soup to <a href="http://www.harrowell.org.uk/viktormap.html">track the business
 activities</a> of an arms merchant.


The developers of Python itself used Beautiful Soup to <a href="http://svn.python.org/view/tracker/importer/">migrate the Python
bug tracker from Sourceforge to Roundup</a>.


The <a href="http://www2.ljworld.com/">Lawrence Journal-World</a>
uses Beautiful Soup to <a href="http://www.b-list.org/weblog/2010/nov/02/news-done-broke/">gather
statewide election results</a>.


The <a href="http://esrl.noaa.gov/gsd/fab/">NOAA's Forecast
Applications Branch</a> uses Beautiful Soup in <a href="http://laps.noaa.gov/topograbber/">TopoGrabber</a>, a script for
downloading "high resolution USGS datasets."

In [222]:
## use ul as entry point
entry_point = soup.find('ul')

## get hall of fame list from entry point
## skip the first entry 
hall_of_fame_list = entry_point.contents[1:]

## reformat into a list containing strings
tmp = []
for li in hall_of_fame_list:
    tmp.append(li.contents)
    
tmp

[[<a href="http://www.nytimes.com/2007/10/25/arts/design/25vide.html">"Movable
   Type"</a>,
  ', a work of digital art on display in the lobby of the New\n York Times building, uses Beautiful Soup to scrape news feeds.\n\n'],
 ['Reddit uses Beautiful Soup to ',
  <a href="https://github.com/reddit/reddit/blob/85f9cff3e2ab9bb8f19b96acd8da4ebacc079f04/r2/r2/lib/media.py">parse
  a page that's been linked to and find a representative image</a>,
  '.\n\n'],
 ['Alexander Harrowell uses Beautiful Soup to ',
  <a href="http://www.harrowell.org.uk/viktormap.html">track the business
   activities</a>,
  ' of an arms merchant.\n\n'],
 ['The developers of Python itself used Beautiful Soup to ',
  <a href="http://svn.python.org/view/tracker/importer/">migrate the Python
  bug tracker from Sourceforge to Roundup</a>,
  '.\n\n'],
 ['The ',
  <a href="http://www2.ljworld.com/">Lawrence Journal-World</a>,
  '\nuses Beautiful Soup to ',
  <a href="http://www.b-list.org/weblog/2010/nov/02/news-done-broke/">gather
  statewide election results</a>,
  '.\n\n'],
 ['The ', <a href="http://esrl.noaa.gov/gsd/fab/">NOAA's Forecast
  Applications Branch</a>, ' uses Beautiful Soup in ', <a href="http://laps.noaa.gov/topograbber/">TopoGrabber</a>, ', a script for\ndownloading "high resolution USGS datasets."\n\n']]

`tmp` now is actually a list of lists containing the hall of fame entries. 
Here is some advanced Python on how to print really just one entry per list item.

The cool things about this are: 
* The use of `""` to just access the `join` function of strings.
* The `join` function itself
* that you can actually have two nested for loops in a list comprehension

In [225]:
test =  ["".join(str(a) for a in sublist) for sublist in tmp]
print(test)
print ('\n'.join(test))

['<a href="http://www.nytimes.com/2007/10/25/arts/design/25vide.html">"Movable\n Type"</a>, a work of digital art on display in the lobby of the New\n York Times building, uses Beautiful Soup to scrape news feeds.\n\n', 'Reddit uses Beautiful Soup to <a href="https://github.com/reddit/reddit/blob/85f9cff3e2ab9bb8f19b96acd8da4ebacc079f04/r2/r2/lib/media.py">parse\na page that\'s been linked to and find a representative image</a>.\n\n', 'Alexander Harrowell uses Beautiful Soup to <a href="http://www.harrowell.org.uk/viktormap.html">track the business\n activities</a> of an arms merchant.\n\n', 'The developers of Python itself used Beautiful Soup to <a href="http://svn.python.org/view/tracker/importer/">migrate the Python\nbug tracker from Sourceforge to Roundup</a>.\n\n', 'The <a href="http://www2.ljworld.com/">Lawrence Journal-World</a>\nuses Beautiful Soup to <a href="http://www.b-list.org/weblog/2010/nov/02/news-done-broke/">gather\nstatewide election results</a>.\n\n', 'The <a href="http://esrl.noaa.gov/gsd/fab/">NOAA\'s Forecast\nApplications Branch</a> uses Beautiful Soup in <a href="http://laps.noaa.gov/topograbber/">TopoGrabber</a>, a script for\ndownloading "high resolution USGS datasets."\n\n']
<a href="http://www.nytimes.com/2007/10/25/arts/design/25vide.html">"Movable
 Type"</a>, a work of digital art on display in the lobby of the New
 York Times building, uses Beautiful Soup to scrape news feeds.


Reddit uses Beautiful Soup to <a href="https://github.com/reddit/reddit/blob/85f9cff3e2ab9bb8f19b96acd8da4ebacc079f04/r2/r2/lib/media.py">parse
a page that's been linked to and find a representative image</a>.


Alexander Harrowell uses Beautiful Soup to <a href="http://www.harrowell.org.uk/viktormap.html">track the business
 activities</a> of an arms merchant.


The developers of Python itself used Beautiful Soup to <a href="http://svn.python.org/view/tracker/importer/">migrate the Python
bug tracker from Sourceforge to Roundup</a>.


The <a href="http://www2.ljworld.com/">Lawrence Journal-World</a>
uses Beautiful Soup to <a href="http://www.b-list.org/weblog/2010/nov/02/news-done-broke/">gather
statewide election results</a>.


The <a href="http://esrl.noaa.gov/gsd/fab/">NOAA's Forecast
Applications Branch</a> uses Beautiful Soup in <a href="http://laps.noaa.gov/topograbber/">TopoGrabber</a>, a script for
downloading "high resolution USGS datasets."

Advanced Example
===============

Idea by [Jesse Steinweg-Woods](https://jessesw.com/Data-Science-Skills/)
--------------------------------------------------------------------------------

Scraping data science skills
=============================

- What skills are in demand for data scientists?
- Should we have a lecture on Spark or only on MapReduce?

We want to scrape the information from job advertisements for data scientists from indeed.com
Let's scrape and find out!

In [250]:
# Fixed url for job postings containing data scientist
url = 'https://www.indeed.com/jobs?q=Data+Scientist&l=California'
# read the website
source = urllib.request.urlopen(url).read().decode('utf-8')
# parse html code
bs_tree = bs4.BeautifulSoup(source)

In [248]:
# see how many job postings we found
job_count_string = bs_tree.find(id = 'searchCount').contents[0]
job_count_string = job_count_string.split()[-1]
print("Search yielded %s hits." % (job_count_string))

# not that job_count so far is still a string, 
# not an integer, and the , separator prevents 
# us from just casting it to int

job_count_digits = [int(d) for d in job_count_string if d.isdigit()]
job_count = np.sum([digit*(10**exponent) for digit, exponent in 
                    zip(job_count_digits[::-1], range(len(job_count_digits)))])

print (job_count)

Search yielded jobs hits.
0.0

In [237]:
# The website is only listing 10 results per page, 
# so we need to scrape them page after page
num_pages = int(np.ceil(job_count/10.0))

base_url = 'http://www.indeed.com'
job_links = []
for i in range(20): #do range(num_pages) if you want them all
    if i%10==0:
        print (num_pages-i)
    url = 'http://www.indeed.com/jobs?q=data+scientist&start=' + str(i*10)
    html_page = urllib.request.urlopen(url).read().decode('utf-8')
    bs_tree = bs4.BeautifulSoup(html_page)
    job_link_area = bs_tree.find(id = 'resultsCol')
    job_postings = job_link_area.findAll("div")
    job_postings = [jp for jp in job_postings if not jp.get('class') is None 
                    and ''.join(jp.get('class')) =="rowresult"]
    job_ids = [jp.get('data-jk') for jp in job_postings]
    
    # go after each link
    for id in job_ids:
        job_links.append(base_url + '/rc/clk?jk=' + id)

    time.sleep(1)

print ("We found a lot of jobs: ", len(job_links))

6
-4
We found a lot of jobs:  0

Some precautions to enable us to restart our search
=========================

In [238]:
# Save the scraped links
#with open('scraped_links.pkl', 'wb') as f:
#    cPickle.dump(job_links, f)
    
# Read canned scraped links
with open('scraped_links.pkl', 'r') as f:
    job_links = cPickle.load(f)

FileNotFoundError: [Errno 2] No such file or directory: 'scraped_links.pkl'

In [ ]:
skill_set = {'mapreduce': 0, 'spark': 0}

## write initialization into a file, so we can restart later
#with open('scraped_links_restart.pkl', 'wb') as f:
#    cPickle.dump((skill_set, 0),f)

Python Dictonaries
==================

* build in data type
* uses key: value pairs

In [240]:
a = {'a': 1, 'b':2}
print (a)

#show keys
print (a.keys())

#show values
print (a.values())

#show for loop over all entries
# option 1 using zip
# this works also for iterating over any
# other two lists
for k,v in zip(a.keys(), a.values()):
    print (k,v)

# option 2 using the dictionary `iteritems()` function
for k,v in a.iteritems():
    print (k,v)

{'a': 1, 'b': 2}
dict_keys(['a', 'b'])
dict_values([1, 2])
a 1
b 2

AttributeError: 'dict' object has no attribute 'iteritems'

In [ ]:
# This code below does the trick, but could be optimized for speed if necessary
# e.g. skills are typically listed at the end of the webpage
# might not need to split/join the whole webpage, as we already know
# which words we are looking for 
# and could stop after the first occurance of each word

with open('scraped_links_restart.pkl', 'r') as f:
    skill_set, index = cPickle.load(f)
    print "How many websites still to go? ", len(job_links) - index

In [ ]:
counter = 0

for link in job_links[index:]:
    counter +=1  
    
    try:
        html_page = urllib2.urlopen(link).read()
    except urllib2.HTTPError:
        print "HTTPError:"
        continue
    except urllib2.URLError:
        print "URLError:"
        continue
    except socket.error as error:
        print "Connection closed"
        continue

    html_text = re.sub("[^a-z.+3]"," ", html_page.lower()) # replace all but the listed characters
        
    for key in skill_set.keys():
        if key in html_text:  
            skill_set[key] +=1
            
    if counter % 5 == 0:
        print len(job_links) - counter - index
        print skill_set
        with open('scraped_links_restart.pkl','wb') as f:
            cPickle.dump((skill_set, index+counter),f)

In [ ]:
print skill_set

In [ ]:
pseries = pd.Series(skill_set)
pseries.sort(ascending=False)

pseries.plot(kind = 'bar')
## set the title to Score Comparison
plt.title('Data Science Skills')
plt.xlabel('Skills')
plt.ylabel('Count')
plt.show()

Some more regular expressions:
=================

Another Example
================

Designed by Katharine Jarmul
----------------------------

https://github.com/kjam/python-web-scraping-tutorial

Scraping Happy Hours
====================

Scrape the happy hour list of LA for personal preferences

http://www.downtownla.com/3_10_happyHours.asp?action=ALL

This example is part of her talk about data scraping at PyCon2014. She is a really good speaker and I enjoyed watching her talk. Check it out: http://www.youtube.com/watch?v=p1iX0uxM1w8

In [252]:
stuff_i_like = ['burger', 'sushi', 'sweet potato fries', 'BBQ','beer']
found_happy_hours = []
my_happy_hours = []
# First, I'm going to identify the areas of the page I want to look at
url = 'http://www.downtownla.com/3_10_happyHours.asp?action=ALL'
source = urllib.request.urlopen(url).read().decode('utf-8')
tables = bs4.BeautifulSoup(source)

HTTPError: HTTP Error 404: Not Found

In [ ]:
# Then, I'm going to sort out the *exact* parts of the page
# that match what I'm looking for...
for t in tables.findAll('p', {'class': 'calendar_EventTitle'}):
    text = t.text
    for s in t.findNextSiblings():
        text += '\n' + s.text
    found_happy_hours.append(text)

print "The scraper found %d happy hours!" % len(found_happy_hours)

In [ ]:
# Now I'm going to loop through the food I like
# and see if any of the happy hour descriptions match
for food in stuff_i_like:
    for hh in found_happy_hours:
        # checking for text AND making sure I don't have duplicates
        if food in hh and hh not in my_happy_hours:
            print "YAY! I found some %s!" % food
            my_happy_hours.append(hh)

print "I think you might like %d of them, yipeeeee!" % len(my_happy_hours)

In [ ]:
# Now, let's make a mail message we can read:
message = 'Hey Katharine,\n\n\n'
message += 'OMG, I found some stuff for you in Downtown, take a look.\n\n'
message += '==============================\n'.join(my_happy_hours)
message = message.encode('utf-8')
# To read more about encoding:
# http://diveintopython.org/xml_processing/unicode.html
message = message.replace('\t', '').replace('\r', '')
message += '\n\nXOXO,\n Your Py Script'

#print message

Getting Data with an API
=========================

* API: application programming interface
* some sites try to make your life easier
* Twitter, New York Times, ImDB, rotten Tomatoes, Yelp, ...

Rotten Tomatoes
===============

![The Wizard of Oz](images/wiz_oz.png "The wizard of Oz")

http://www.rottentomatoes.com/top/

API keys
=========

* required for data access
* identifies application (you)
* monitors usage
* limits rates

Rotten Tomatoes Key
===================

http://developer.rottentomatoes.com/member/register

In [ ]:
import json
import requests

api_key = rottenTomatoes_key()

url = 'http://api.rottentomatoes.com/api/public/v1.0/lists/dvds/top_rentals.json?apikey=' + api_key
data = urllib2.urlopen(url).read()
#print data

JSON
======

* JavaScript Object Notation
* human readable
* transmit attribute-value pairs

In [ ]:
a = {'a': 1, 'b':2}
s = json.dumps(a)
a2 = json.loads(s)

## a is a dictionary
print a
## vs s is a string containing a in JSON encoding
print s
## reading back the keys are now in unicode
print a2

In [ ]:
## create dictionary from JSON 
dataDict = json.loads(data)

## explore dictionary
print "Starting keys:"
print dataDict.keys()
print

## there is a key named `movies` containing a list of movies as a value
movies = dataDict['movies']

## each element of the list `movies` is a dictionary
print "Movie keys:"
print movies[0].keys()
print

In [115]:
## one of the keys is called `ratings`
## the value is yet another dictionary
print "Movie rating keys:"
print movies[0]['ratings'].keys()
print

## so we made it all the way to find the critics score
print "Movie critics score rating:"
print movies[0]['ratings']['critics_score']
print

SyntaxError: Missing parentheses in call to 'print'. Did you mean print("Movie rating keys:")? (<ipython-input-115-5f8d82629a16>, line 3)

Quiz
=====

* build a list with critics scores
* build a list with audience scores

In [ ]:
# critics scores list
critics_scores = [m['ratings']['critics_score'] for m in movies]

# audience scores list
audience_scores = [m['ratings']['audience_score'] for m in movies]

The following code shows how to create a pandas data frame with the data we gathered from the webpage.
Beware of the `set_index()` function in pandas. Per default it does not change the actual data frame! You need to either reassign the output or set the `inplace` argument to `True`.

In [ ]:
## create pandas data frame with critics and audience score
scores = pd.DataFrame(data=[critics_scores, audience_scores]).transpose()
scores.columns = ['critics', 'audience']

## also create a list with all movie titles
movie_titles = [m['title'] for m in movies]

## set index of dataFrame BEWARE of inplace!
scores.set_index([movie_titles])

## the line above does not changes scores!
## You need to either reassign

scores = scores.set_index([movie_titles])

## or set the inplace argument to True
scores.set_index([movie_titles], inplace=True)
scores.head(3)

In [ ]:
## create a bar plot with the data
## notice that we are using the data frame itself and call its plot function
scores.plot(kind = 'bar')

## set the title to Score Comparison
plt.title('Score Comparison')

## set the x label
plt.xlabel('Movies')

## set the y label
plt.ylabel('Scores')

In [ ]:
## show the plot
plt.show()

Twitter Example:
================

* API a bit more complicated
* libraries make life easier
* python-twitter

https://github.com/bear/python-twitter

What we are going to do is scrape Joe's twitter account, and then filter it for the interesting tweets. Defining interesting as tweets that have be re-tweeted at least 10 times.

In [ ]:
import twitter

## define the necessary keys
cKey = twitterAPI_key()
cSecret = twitterAPI_secret()
aKey = twitterAPI_access_token_key()
aSecret = twitterAPI_access_token_secret()

## create the api object with the twitter-python library
api = twitter.Api(consumer_key=cKey, consumer_secret=cSecret, access_token_key=aKey, access_token_secret=aSecret)

In [ ]:
## get the user timeline with screen_name = 'stat110'
twitter_statuses = api.GetUserTimeline(screen_name = 'stat110')

## create a data frame
## first get a list of panda Series or dict
pdSeriesList = [pd.Series(t.AsDict()) for t in twitter_statuses]

## then create the data frame
data = pd.DataFrame(pdSeriesList)

data.head(2)

In [ ]:
## filter tweets with enough retweet_count
maybe_interesting = data[data.retweet_count>20]

## get the text of these tweets
tweet_text = maybe_interesting.text

## print them out
text = tweet_text.values

for t in text:
    print '######'
    print t

Extracting columns:
===================

__Warning:__ The returned column `tweet_text` is a `view` on the data
    
* it is not a copy
* you change the Series => you change the DataFrame

Below is another example of such a view:

In [ ]:
## create a view for favorite_count on maybe_interesting
view = maybe_interesting['favorite_count']
print '-----------------'
print "This is view:"
print view
## change a value
view[8] = 9999

## look at original frame
print '-----------------'
print "This is view after changing view[8]"
print view

print '-----------------'
print "This is maybe_interesting after changing view[8]"
print "It changed too!"
print maybe_interesting['favorite_count']

## to avoid this you can use copy
independent_data = maybe_interesting['favorite_count'].copy()
independent_data[10] = 999
print '-----------------'
print "This is independent_data after changed at 10:"
print independent_data
print '-----------------'
print "This is maybe_interesting after changing independent_data:"
print "It did not change because we only changed a copy of it"
print maybe_interesting['favorite_count']

What we covered today:
============

* Pandas data frames
* Guidelines for friendly scraping
* Scraping html sites
* Scraping with Api's
* Basic data cleanup

Further material
================

* I highly recommend Katharine Jarmul's scraping tutorials
* For example [this one](https://www.youtube.com/watch?v=p1iX0uxM1w8)
* Pandas has extensive [documentation](http://pandas.pydata.org/pandas-docs/stable/)
* Especially the [tem minutes to pandas chapter](http://pandas.pydata.org/pandas-docs/stable/10min.html)

* [Greg Reda](http://www.gregreda.com/2013/10/26/using-pandas-on-the-movielens-dataset/) did a lot more pandas examples for the movie lens data set

In [160]:
#"BABY YOU ARE NOT BABY => LEARN BY DOING IT. "

In [161]:
# PRACTICE THIS WITH 'KOPAS' OR 'KUKLUE' => GREAT OPPORTUNITY FOR YOU.